* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: rgb(196, 191, 191);
    font-size: 15px;
}

/*Header*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #1F2937;
    color: white;
}

.logo {
    font-size: 24px;
    margin-right: 14px;
}

.section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
    color: white;
}

.heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 400px;
}

.subtext {
    max-width: 400px;
    color: rgb(196, 191, 191);
    margin-bottom: 12px;
    font-size: 18px;
}

.button {
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

/*Section*/

.grid-section {
    height: 500px;
}

.information {
    display: flex;
    justify-content: center;
    margin: 35px;
    font-size: 36px;
    color: #1F2937;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    flex-wrap: wrap;
}

.grid-box {
    max-width: 200px;
}

.Box {
    border: 2px solid black;
    height: 200px;
    border-radius: 20px;
    border-width: 3px;
    border-color: #3882F6;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

/*Quote*/

.quote-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-text {
    font-size: 35px;
    max-width: 800px;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: rgb(136, 128, 128);
    font-weight: 300;
}
