* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: rgb(196, 191, 191);
    font-size: 15px;
}

/*Header*/

.header {
    padding: 15px 10%;
}

.hero-section,
.header {
    background-color: #1F2937;
    color: white;
}   

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-right: 14px;
}

/*Hero*/

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10%;
    gap: 50px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 20px;
}

.subtext {  
    color: rgb(196, 191, 191);
    margin-bottom: 12px;
    font-size: 20px;
    max-width: 800px;
}

.button {
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

/*Grid-Section*/

.card-section {
    padding: 50px 25%;
}

.information {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 36px;
    color: #1F2937;
}

.wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    flex: wrap;
}

.grid-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px; 
}

.card {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border-width: 3px;
    border-color: #3882F6;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

/*Quote*/

.quote-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 15%;
}

.quote-text {
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: rgb(136, 128, 128);
    font-weight: 300;
    margin: 10px 20px;
}

/*CTA*/

.cta-container {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 30px 90px;
    color: white;
}

.cta-heading {
    font-size: 19px;
}

.cta-text {
    font-size: 15px;
}

.cta-button {
    padding: 5px 25px;
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

/*Footer*/

.footer {
    background-color: #1F2937;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(196, 191, 191);
    font-size: 15px;
}